/*Ablak*/

#windowPane {
    /*-fx-background-color: linear-gradient(to right, #0F1C6E, #2BEF13);*/
    -fx-background-color: rgb(15, 13, 68);
}

/*Tábla*/
.tab-pane {
    -fx-background-color: white;
}

.tab-pane .tab-header-background {
    -fx-background-color: gray;
}

.tab-pane .tab {
    -fx-padding: 0px 33px 0px 33px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-cursor: pointer;
}

.tab-pane .tab:selected, #tabAnchPane1,  #tabAnchPane2, #tabAnchPane3 {
    -fx-background-color: rgb(0, 128, 255);
}

/*Admin tábla*/

#deleteCarButton, #deleteUserButton, #deleteAdminButton {
    -fx-background-color: rgb(255, 61, 61);
    -fx-background-radius: 20px;
}
 
#refreshAdminButton, 
#refreshUserButton, 
#refreshCarButton{
    -fx-background-radius: 20px;
}

/*Autó tábla*/

#addCarButton,
#additionUserButton,
#additionAdminButton {
    -fx-background-color: rgb(71, 255, 61);
    -fx-background-radius: 20px;
}

#carTableView .column-header{
    -fx-background-color: rgb(157, 157, 157);
}

#carTableView .column-header-background .filler {
    -fx-background-color: rgb(157, 157, 157);
}

#carTableView .table-cell {
    -fx-border-color: white;
    -fx-text-fill: white;
}

#carTableView .table-row-cell:odd {
    -fx-background-color: rgb(15, 13, 68);
}

#carTableView .table-row-cell:even {
    -fx-background-color: rgb(21, 18, 106);
}

#carTableView .table-row-cell:hover {
    -fx-background-color: rgb(168, 0, 0);
}

#carTableView .table-row-cell:selected {
    -fx-background-color: rgb(214, 0, 0);
}

/*Felhasználó tábla*/

#userTableView .column-header{
    -fx-background-color: rgb(157, 157, 157);
}

#userTableView .column-header-background .filler {
    -fx-background-color: rgb(157, 157, 157);
}

#userTableView .table-cell {
    -fx-border-color: white;
    -fx-text-fill: white;
}

#userTableView .table-row-cell:odd {
    -fx-background-color: rgb(15, 13, 68);
}

#userTableView .table-row-cell:even {
    -fx-background-color: rgb(21, 18, 106);
}

#userTableView .table-row-cell:hover {
    -fx-background-color: rgb(168, 0, 0);
}

#userTableView .table-row-cell:selected {
    -fx-background-color: rgb(214, 0, 0);
}

/*Admin tábla*/

#adminTableView .column-header{
    -fx-background-color: rgb(157, 157, 157);
}

#adminTableView .column-header-background .filler {
    -fx-background-color: rgb(157, 157, 157);
}

#adminTableView .table-cell {
    -fx-border-color: white;
    -fx-text-fill: white;
}

#adminTableView .table-row-cell:odd {
    -fx-background-color: rgb(15, 13, 68);
}

#adminTableView .table-row-cell:even {
    -fx-background-color: rgb(21, 18, 106);
}

#adminTableView  .table-row-cell:hover {
    -fx-background-color: rgb(168, 0, 0);
}

#adminTableView  .table-row-cell:selected {
    -fx-background-color: rgb(214, 0, 0);
}

#logoutLink2,
#logoutLink {
    -fx-border-color: transparent;
    -fx-underline: false;
    -fx-text-fill: white;
}

#logoutLink:hover {
    -fx-text-fill: rgb(0, 128, 255);
}


#addBrandTextField:focused,
#addTypeTextField:focused,
#addColorTextField:focused,
#addFuelTextField:focused,
#addPriceTextField:focused,
#addPersonTextField:focused,
#addKMTextField:focused,
#addYearTextField:focused,
#addRollingTextField:focused,
#addPerformanceTextField:focused,
#addLookTextField:focused,
#addCrowdTextField:focused,
#addGearboxTextField:focused {
    -fx-effect: dropshadow(gaussian, rgb(71, 255, 61), 1, 1.0, 0.0, 0.0);
    -fx-border-color: rgb(71, 255, 61);
}

#startPriceTextField:focused,
#endPriceTextField:focused {
    -fx-effect: dropshadow(gaussian, rgb(164, 61, 255), 1, 1.0, 0.0, 0.0);
    -fx-border-color: rgb(164, 61, 255);
}

/* LoginDashboard */

#buyingButton,
#modificationButton,
#advanceButton{
    -fx-background-color: linear-gradient(to left, rgb(27,20,100), rgb(255,0,255));
    -fx-background-radius: 20px;
}

#filterAdminTableButton,
#filterButton,
#refreshCarButton,
#refreshCarButton2,
#userdataModificationButton {
    -fx-background-radius: 20px;
}

#filterAdminTableButton:hover,
#refreshCarButton:hover,
#userdataModificationButton:hover {
    -fx-background-color: linear-gradient(to left, rgb(27,20,100), rgb(255,0,255));
    -fx-text-fill: white;
}

#logoutLink2:hover {
    -fx-text-fill: rgb(255,0,255);
}

#carTableViewUT {
    -fx-background-color: transparent;
}

#carTableViewUT .table-cell {
    -fx-text-fill: white;
    -fx-border-color: rgb(120, 120, 120);
    -fx-background-color: rgba(71,71,71,0.1);
}

#carTableViewUT .table-row-cell {
    -fx-background-color: rgba(71,71,71, 0.4);
}

#carTableViewUT .column-header{
    -fx-background-color: linear-gradient(to bottom, rgb(255,0,255), rgb(148, 0, 148));
}

#carTableViewUT .table-row-cell:odd {
    -fx-background-color: rgba(108, 108, 108, 0.4);
}

#carTableViewUT .table-row-cell:hover {
    -fx-background-color: rgb(255,0,255);
}

#carTableViewUT .table-row-cell:selected {
    -fx-background-color: rgb(148, 0, 148);
}

#carTableViewUT .scroll-bar:vertical,
#carTableViewUT .scroll-bar:vertical .track,
#carTableViewUT .scroll-bar:vertical .track-background {
    -fx-background-color: rgb(71, 71, 71);
}

#carTableViewUT .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, rgb(255,0,255), rgb(148, 0, 148));
}

#carTableViewUT .scroll-bar:horizontal,
#carTableViewUT .scroll-bar:horizontal .track,
#carTableViewUT .scroll-bar:horizontal .track-background {
    -fx-background-color: rgb(71, 71, 71);
}

#carTableViewUT .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to bottom, rgb(255,0,255), rgb(148, 0, 148));
}

#carTableViewUT  .scroll-bar:vertical .increment-button,
#carTableViewUT .scroll-bar:vertical .decrement-button {
    -fx-background-color: rgb(71, 71, 71);
}

#carTableViewUT  .scroll-bar:vertical .increment-button:hover,
#carTableViewUT .scroll-bar:vertical .decrement-button:hover {
    -fx-background-color: rgb(148, 0, 148);
}

#carTableViewUT  .scroll-bar:vertical .increment-button .increment-arrow,
#carTableViewUT .scroll-bar:vertical .decrement-button .decrement-arrow{
    -fx-background-color: rgb(255, 255, 255);
}

#carTableViewUT .column-header-background .filler {
    -fx-background-color: linear-gradient(to bottom, rgb(255,0,255), rgb(148, 0, 148));
}

#typeCombobox,
#colorCombobox,
#personCombobox,
#fuelCombobox {
    -fx-background-color: linear-gradient(to bottom, rgb(255,0,255), rgb(148, 0, 148));
    -fx-font-weight: bold;
}

#typeCombobox .list-view .list-cell,
#colorCombobox .list-view .list-cell,
#personCombobox .list-view .list-cell,
#fuelCombobox .list-view .list-cell {
    -fx-background-color:rgb(71, 71, 71);
    -fx-border-color: rgb(71, 71, 71);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#typeCombobox .list-view .list-cell:hover,
#colorCombobox .list-view .list-cell:hover,
#personCombobox .list-view .list-cell:hover,
#fuelCombobox .list-view .list-cell:hover {
    -fx-background-color:rgb(148, 0, 148);
    -fx-text-fill: rgb(0, 0, 0);
}

#typeCombobox .list-view,
#colorCombobox .list-view,
#personCombobox .list-view,
#fuelCombobox .list-view {
    -fx-border-color: rgb(71, 71, 71);
}

#typeCombobox .arrow,
#colorCombobox .arrow,
#personCombobox .arrow,
#fuelCombobox .arrow{
    -fx-background-color:black;
}

#typeCombobox .scroll-bar:vertical,
#typeCombobox .scroll-bar:vertical .track,
#typeCombobox .scroll-bar:vertical .track-background,
#colorCombobox .scroll-bar:vertical,
#colorCombobox .scroll-bar:vertical .track,
#colorCombobox .scroll-bar:vertical .track-background,
#personCombobox .scroll-bar:vertical,
#personCombobox .scroll-bar:vertical .track,
#personCombobox .scroll-bar:vertical .track-background,
#fuelCombobox .scroll-bar:vertical,
#fuelCombobox .scroll-bar:vertical .track,
#fuelCombobox .scroll-bar:vertical .track-background {
    -fx-background-color: rgb(71, 71, 71);
}

#typeCombobox .scroll-bar:vertical .thumb,
#colorCombobox .scroll-bar:vertical .thumb,
#personCombobox .scroll-bar:vertical .thumb,
#fuelCombobox .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, rgb(255,0,255), rgb(148, 0, 148));
}

#typeCombobox .scroll-bar:vertical .increment-button,
#typeCombobox .scroll-bar:vertical .decrement-button,
#colorCombobox .scroll-bar:vertical .increment-button,
#colorCombobox .scroll-bar:vertical .decrement-button,
#personCombobox .scroll-bar:vertical .increment-button,
#personCombobox .scroll-bar:vertical .decrement-button,
#fuelCombobox .scroll-bar:vertical .increment-button,
#fuelCombobox .scroll-bar:vertical .decrement-button {
    -fx-background-color: rgb(71, 71, 71);
}

#typeCombobox .scroll-bar:vertical .increment-button:hover,
#typeCombobox .scroll-bar:vertical .decrement-button:hover,
#colorCombobox .scroll-bar:vertical .increment-button:hover,
#colorCombobox .scroll-bar:vertical .decrement-button:hover,
#personCombobox .scroll-bar:vertical .increment-button:hover,
#personCombobox .scroll-bar:vertical .decrement-button:hover,
#fuelCombobox .scroll-bar:vertical .increment-button:hover,
#fuelCombobox .scroll-bar:vertical .decrement-button:hover {
    -fx-background-color: rgb(148, 0, 148);
}

#typeCombobox .scroll-bar:vertical .increment-button .increment-arrow,
#typeCombobox .scroll-bar:vertical .decrement-button .decrement-arrow,
#colorCombobox .scroll-bar:vertical .increment-button .increment-arrow,
#colorCombobox .scroll-bar:vertical .decrement-button .decrement-arrow,
#personCombobox .scroll-bar:vertical .increment-button .increment-arrow,
#personCombobox .scroll-bar:vertical .decrement-button .decrement-arrow,
#fuelCombobox .scroll-bar:vertical .increment-button .increment-arrow,
#fuelCombobox .scroll-bar:vertical .decrement-button .decrement-arrow{
    -fx-background-color: rgb(255, 255, 255);
}
